body{
  margin: 0px;
  font-family: 'Raleway', sans-serif;
}

a{
  text-decoration: none;
}

/* Index.html */
.index-content > .find-ancestor{
  background-image: url('../../assets/images/graveyard_small.jpg');
  width: 100%;
  height: 754px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.index-content > .find-ancestor > .title{
  color: white;
  background-color: transparent;
  padding: 100px;
}

.index-content > .find-ancestor > .title h2{

}

.index-content > .find-ancestor input{
  width: 250px;
  height: 40px;
  border: none;
  background: transparent;
  border-bottom: 2px solid white;
  text-align: center;
  font-size: 17px;
  font-weight: 500;
  color: #d3d3d3;
  background-image: url("../../assets/images/search_icon.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: 13%;
  transition: 1s;
}

.index-content > .find-ancestor input:focus{
  /* transition: 1s; */
  background-size: 0%;
  background-color: rgba(255,255,255,0.2);
  border-radius: 5px;
  color: white;
  outline: none;
}

::placeholder{
  color: #c4c4c4;
}

.index-content > .description{
  width: 60%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: auto;
  text-align: center;
}

.index-content > .description > .body{
  margin: 0px 0px 40px 0px;
}

.index-content > .description > .title{
  text-align: center;
  justify-content: center;
  font-size: 30px;
}

.index-content > .cards{
  justify-content: center;
  margin: auto;
  width: 60%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.index-content > .cards > .card{
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
  padding: 10px;
  margin: 20px;
  width: 400px;
}

.index-content > .cards img{
  width: 100%;
}

.index-content > .cards > .card > .content{
  text-align: center;
  padding: 10px;
}

/* about.html */
.about-content img{
  width: 100%;
}

.about-content > .plainText, .about-content > .photoPara{
  justify-content: center;
  margin: auto;
  width: 95%;
  text-align: center;
  letter-spacing: 0.5px;
}

.about-content > .plainText > .header, .about-content > .photoPara > .header{
  border-bottom: 2px solid #808080;
  height: 30px;
}
