body{
  margin: 0px;
  font-family: 'Raleway', sans-serif;
}

a{
  text-decoration: none;
}

::placeholder{
  color: #c4c4c4;
}

/* Index.html */
.index-content > .find-ancestor{
  background-image: url('../../assets/images/graveyard_small.jpg');
  width: 100%;
  height: 754px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.index-content > .find-ancestor > .title{
  color: white;
  background-color: transparent;
  padding: 100px;
}

.index-content > .find-ancestor input{
  width: 250px;
  height: 40px;
  border: none;
  background: transparent;
  border-bottom: 2px solid white;
  text-align: center;
  font-size: 17px;
  font-weight: 500;
  color: #d3d3d3;
  background-image: url("../../assets/images/search_icon.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: 13%;
  transition: 1s;
}

.index-content > .find-ancestor input:focus{
  /* transition: 1s; */
  background-size: 0%;
  background-color: rgba(255,255,255,0.2);
  border-radius: 5px;
  color: white;
  outline: none;
}

.index-content > .description{
  width: 60%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: auto;
  text-align: center;
}

.index-content > .description > .body{
  margin: 0px 0px 40px 0px;
}

.index-content > .description > .title{
  text-align: center;
  justify-content: center;
  font-size: 30px;
}

.index-content > .cards{
  justify-content: center;
  margin: auto;
  width: 60%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.index-content > .cards > .card{
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
  padding: 10px;
  margin: 20px;
  width: 400px;
  background-color: white;
  transition: 0.5s;
}

.index-content > .cards img{
  width: 100%;
  transition: 0.5s;
}

.index-content > .cards > .card:hover{
  transform: scale(1.2, 1.2);
}

.index-content > .cards > .card > .content{
  text-align: center;
  padding: 10px;
}

/* about.html */
.about-content > .background{
  width: 100%;
}

.about-content > .content{
  justify-content: center;
  margin: auto;
  width: 95%;
  text-align: justify;
  letter-spacing: 0.5px;
}

.about-content > .content > .plainText > .header, .about-content > .content > .photoPara > .header{
  text-align: center;
  border-bottom: 2px solid #808080;
  height: 30px;
}

.about-content > .content > .photoPara > .holder{
  width: 100%;
}

.about-content > .content > .photoPara > .holder > .item{
  display: grid;
  grid-template-columns: 0.7fr 1fr;
  margin-bottom: 25px;
  margin-top: 35px;
}

.about-content > .content > .photoPara > .holder > .item > .image{
  width: 100%;
  display: flex;
  justify-content: center;
}

.about-content > .content > .photoPara > .holder > .item > .content{
  width: 100%;
}

/* faq.html */
.faq-content > .background{
  height: 480px;
  width: 100%;
}

.faq-content > .title, .faq-content > .description{
  width: 95%;
  justify-content: center;
  letter-spacing: 0.5px;
  margin: auto;
  text-align: justify;
  padding-bottom: 30px;
}

.faq-content > .title p{
  border-bottom: 1.5px solid #808080;
  font-size: 25px;
  text-align: center;
  height: 35px;
}

.faq-content > .description > .header{
  font-size: 18px;
  flex-direction:
}

/* contact.html */
.contact-content > .background{
  height: 480px;
  width: 100%;
}

.contact-content > .text{
  width: 95%;
  justify-content: center;
  letter-spacing: 0.5px;
  margin: auto;
  text-align: justify;
  padding-bottom: 30px;
}

.contact-content > .text > .title{
  border-bottom: 1.5px solid #808080;
  font-size: 25px;
  text-align: center;
  height: 35px;
}

.contact-content > .text > .message{
  font-size: 20px;
  text-align: center;
}

#basic-info input{
  width: 350px;
  border: none;
  background: transparent;
  border-bottom: 2px solid #808080;
  text-align: center;
  font-size: 17px;
  font-weight: 500;
  color: black;
  padding: 5px;
  transition: 1s;
  margin-bottom: 30px;
}

#basic-info input:focus{
  /* background-color: rgba(255,255,255,0.2); */
  border-radius: 5px;
  /* color: white; */
  outline: none;
  border: 2px solid #808080;
}

#basic-info{
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 1fr 1fr;
  justify-content: center;
  position: relative;
  left: 18%;
}

#message-form {
  width: 95%;
  justify-content: center;
  letter-spacing: 0.5px;
  margin: auto;
  text-align: center;
  padding-bottom: 30px;
}

#message-form > .messageTitle{
  font-size: 20px;
}

#message-form textarea{
  width: 50%;
  height: 400px;
  border: none;
  background: transparent;
  font-size: 17px;
  font-weight: 500;
  padding: 5px;
  text-align: left;
  transition: 1s;
  margin-bottom: 30px;
  border: 2px solid #808080;
  border-radius: 10px;
  resize: none;
}

#message-form textarea:focus{
  outline: none;
}

.Submit{
  text-shadow: none;
  line-height: 1.2;
  /* display: inline-block; */
  padding: 10px 16px;
  margin: 0 10px 0 0;
  position: relative;
  border-radius: 4px;
  border: 3px solid transparent;
  background: #444857;
  color: white;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-decoration: none !important;
  text-align: center;
  font-weight: 700;
  box-sizing: border-box;
  font-size: 1em;
  width: 15%;
  position: relative;
  left: 42.5%;
  bottom: 30px;
}

/* blog.html */
.blog-content > .background{
  height: 480px;
  width: 100%;
}

.blog-content > .wrapper{
  justify-content: center;
  margin: auto;
  width: 95%;
}

.blog-content > .wrapper > .title{
  border-bottom: 1.5px solid #808080;
  font-size: 25px;
  text-align: center;
  height: 35px;
  width: 100%;
}

.blog-content > .wrapper > .posts > .post{
  width: 80%;
  /* padding-bottom: 30px; */
  margin-bottom: 30px;
  border: 1px solid black;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 0.3fr 1fr;
  position: relative;
  left: 10%;
}

.blog-content > .wrapper > .posts > .post > .photo{
  margin: 10px;
  width: 90%;
}

.blog-content > .wrapper > .posts > .post > .photo img{
  width: 100%;
}

.blog-content > .wrapper > .posts > .post > .content{
  text-align: justify;
}

.blog-content > .wrapper > .posts > .post > .content > .title{
  font-size: 20px;
}

.blog-content > .wrapper > .posts > .post > .content > .post-info{
  border-bottom: 1.5px solid #808080;
  width: 98%;
}

.blog-content > .wrapper > .posts > .post > .content > .post-info p{
  display: inline;
  padding-right: 20px;
}

.blog-content > .wrapper > .posts > .post > .content > .text-content{
  width: 98%;
}
