#loginModal{
  display: none;
  height: 100vh;
  width: 100%;
  background-color: rgba(0,0,0,0.7);
  position: fixed;
  z-index: 99;
  transition: 1s;
}

#loginModal > .login-form{
  width: 30%;
  height: 30vh;
  background-color:#fff;
  position: relative;
  left: 35%;
  top: 30%;
}

#loginModal > .login-form > .header{
  width: 100%;
  height: 18%;
  background-color: #808080;
  color: white;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px;
}

#loginModal > .login-form > .header p{
  padding-left: 15px;
  /* padding-top: 8px; */
  text-align: left;
  display: inline-block;
  position: relative;
  top: -15px;
}

#loginModal > .login-form > .header a{
  text-decoration: none;
  color: white;
  font-size: 50px;
  position: relative;
  top: -13px;
  left: 73%;
}

#loginModal > .login-form > .forms{
  padding-left: 5vh;
}

#loginModal > .login-form > .forms form{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

#loginModal > .login-form > .forms div{
  height: 50px;
}


#loginModal > .login-form > .forms input{
  width: 90%;
  border: none;
  border-bottom: 1px solid #808080;
  /* margin-top: 2%; */
  background: transparent;
  text-align: left;
  font-size: 17px;
  font-weight: bold;
  color: #808080;
  /* position: absolute; */
}

#loginModal > .login-form > .forms input:focus{
  outline: none;
}

#loginModal > .login-form > .forms button{
  width: 90%;
  height: 35px;
  background-color: #808080;
  border-radius: 3px;
  color: white;
  font-weight: bold;
  /* margin-top: 10px; */
  outline: none;
  border: none;
  font-size: 25px;
  position: absolute;
  left: 5%;
  top: 75%;
}


#loginModal > .login-form > .forms button:hover{
  cursor: pointer;
}
